<?xml version="1.0" encoding="UTF-8"?>
<Network xmlns="http://soap.sforce.com/2006/04/metadata">
    <allowInternalUserLogin>false</allowInternalUserLogin>
    <allowMembersToFlag>true</allowMembersToFlag>
    <changePasswordTemplate>unfiled$public/CommunityChangePasswordEmailTemplate</changePasswordTemplate>
    <communityRoles/>
    <disableReputationRecordConversations>false</disableReputationRecordConversations>
    <emailSenderAddress>professionalleague@castrol.com</emailSenderAddress>
    <emailSenderName>CAPL Castrol Custom Community</emailSenderName>
    <enableCustomVFErrorPageOverrides>false</enableCustomVFErrorPageOverrides>
    <enableDirectMessages>false</enableDirectMessages>
    <enableGuestChatter>true</enableGuestChatter>
    <enableGuestFileAccess>true</enableGuestFileAccess>
    <enableInvitation>false</enableInvitation>
    <enableKnowledgeable>true</enableKnowledgeable>
    <enableMemberVisibility>true</enableMemberVisibility>
    <enableNicknameDisplay>false</enableNicknameDisplay>
    <enablePrivateMessages>false</enablePrivateMessages>
    <enableReputation>true</enableReputation>
    <enableShowAllNetworkSettings>true</enableShowAllNetworkSettings>
    <enableSiteAsContainer>true</enableSiteAsContainer>
    <enableTalkingAboutStats>true</enableTalkingAboutStats>
    <enableTopicAssignmentRules>true</enableTopicAssignmentRules>
    <enableTopicSuggestions>false</enableTopicSuggestions>
    <enableUpDownVote>false</enableUpDownVote>
    <forgotPasswordTemplate>unfiled$public/CommunityForgotPasswordEmailTemplate</forgotPasswordTemplate>
    <gatherCustomerSentimentData>false</gatherCustomerSentimentData>
    <navigationLinkSet>
        <navigationMenuItem>
            <label>Professional Corner</label>
            <position>1</position>
            <publiclyAvailable>true</publiclyAvailable>
            <subMenu>
                <navigationMenuItem>
                    <label>Grow at your Workplace</label>
                    <position>0</position>
                    <publiclyAvailable>false</publiclyAvailable>
                    <target>/topic/0TO580000009etqGAA</target>
                    <type>InternalLink</type>
                </navigationMenuItem>
                <navigationMenuItem>
                    <label>Know your Customers</label>
                    <position>1</position>
                    <publiclyAvailable>false</publiclyAvailable>
                    <target>/topic/0TO580000009etrGAA</target>
                    <type>InternalLink</type>
                </navigationMenuItem>
                <navigationMenuItem>
                    <label>Personal Development</label>
                    <position>2</position>
                    <publiclyAvailable>false</publiclyAvailable>
                    <target>/topic/0TO580000009etsGAA</target>
                    <type>InternalLink</type>
                </navigationMenuItem>
            </subMenu>
            <type>MenuLabel</type>
        </navigationMenuItem>
        <navigationMenuItem>
            <label>What&apos;s Up Turkey</label>
            <position>2</position>
            <publiclyAvailable>false</publiclyAvailable>
            <subMenu>
                <navigationMenuItem>
                    <label>Culture</label>
                    <position>0</position>
                    <publiclyAvailable>false</publiclyAvailable>
                    <target>/topic/0TO580000009ettGAA</target>
                    <type>InternalLink</type>
                </navigationMenuItem>
                <navigationMenuItem>
                    <label>Technology</label>
                    <position>1</position>
                    <publiclyAvailable>false</publiclyAvailable>
                    <target>/topic/0TO580000009etuGAA</target>
                    <type>InternalLink</type>
                </navigationMenuItem>
            </subMenu>
            <type>MenuLabel</type>
        </navigationMenuItem>
        <navigationMenuItem>
            <label>Discussions</label>
            <position>3</position>
            <publiclyAvailable>false</publiclyAvailable>
            <subMenu>
                <navigationMenuItem>
                    <label>Technical</label>
                    <position>0</position>
                    <publiclyAvailable>false</publiclyAvailable>
                    <target>/group/0F958000000HwBACA0</target>
                    <type>InternalLink</type>
                </navigationMenuItem>
                <navigationMenuItem>
                    <label>Professional</label>
                    <position>1</position>
                    <publiclyAvailable>false</publiclyAvailable>
                    <target>/group/0F958000000HwBFCA0</target>
                    <type>InternalLink</type>
                </navigationMenuItem>
                <navigationMenuItem>
                    <label>General</label>
                    <position>2</position>
                    <publiclyAvailable>false</publiclyAvailable>
                    <target>/group/0F958000000HwBKCA0</target>
                    <type>InternalLink</type>
                </navigationMenuItem>
            </subMenu>
            <type>MenuLabel</type>
        </navigationMenuItem>
        <navigationMenuItem>
            <label>Videos</label>
            <position>4</position>
            <publiclyAvailable>false</publiclyAvailable>
            <target>/videos1</target>
            <type>InternalLink</type>
        </navigationMenuItem>
        <navigationMenuItem>
            <label>Know Your Castrol</label>
            <position>5</position>
            <publiclyAvailable>false</publiclyAvailable>
            <subMenu>
                <navigationMenuItem>
                    <label>About Us</label>
                    <position>0</position>
                    <publiclyAvailable>false</publiclyAvailable>
                    <target>/topic/0TO580000009eu0GAA</target>
                    <type>InternalLink</type>
                </navigationMenuItem>
                <navigationMenuItem>
                    <label>Car Engine Oil</label>
                    <position>1</position>
                    <publiclyAvailable>false</publiclyAvailable>
                    <target>/topic/0TO580000009eu2GAA</target>
                    <type>InternalLink</type>
                </navigationMenuItem>
                <navigationMenuItem>
                    <label>CASTROL EDGE PROFESSIONAL</label>
                    <position>2</position>
                    <publiclyAvailable>false</publiclyAvailable>
                    <target>/topic/0TO580000009eu2GAA</target>
                    <type>InternalLink</type>
                </navigationMenuItem>
                <navigationMenuItem>
                    <label>CASTROL MAGNATEC PROFESSIONAL</label>
                    <position>3</position>
                    <publiclyAvailable>false</publiclyAvailable>
                    <target>/topic/0TO580000009eu3GAA</target>
                    <type>InternalLink</type>
                </navigationMenuItem>
            </subMenu>
            <type>MenuLabel</type>
        </navigationMenuItem>
    </navigationLinkSet>
    <networkMemberGroups>
        <permissionSet>CAPL_CommunityPermission</permissionSet>
        <permissionSet>CAPL_CommunityPermissionSalesforce</permissionSet>
        <profile>Admin</profile>
        <profile>Castrol_CAPLCommunityAdmin</profile>
    </networkMemberGroups>
    <networkPageOverrides>
        <changePasswordPageOverrideSetting>Standard</changePasswordPageOverrideSetting>
        <forgotPasswordPageOverrideSetting>Standard</forgotPasswordPageOverrideSetting>
        <homePageOverrideSetting>Designer</homePageOverrideSetting>
        <loginPageOverrideSetting>Designer</loginPageOverrideSetting>
        <selfRegProfilePageOverrideSetting>Designer</selfRegProfilePageOverrideSetting>
    </networkPageOverrides>
    <picassoSite>CAPL_Castrol_Custom_Community1</picassoSite>
    <reputationLevels>
        <level>
            <label>Beginner</label>
            <lowerThreshold>0.0</lowerThreshold>
        </level>
        <level>
            <label>Beginner</label>
            <lowerThreshold>101.0</lowerThreshold>
        </level>
        <level>
            <label>Beginner</label>
            <lowerThreshold>201.0</lowerThreshold>
        </level>
        <level>
            <label>Beginner</label>
            <lowerThreshold>301.0</lowerThreshold>
        </level>
        <level>
            <label>Beginner</label>
            <lowerThreshold>401.0</lowerThreshold>
        </level>
        <level>
            <label>Expert</label>
            <lowerThreshold>501.0</lowerThreshold>
        </level>
        <level>
            <label>Expert</label>
            <lowerThreshold>701.0</lowerThreshold>
        </level>
        <level>
            <label>Expert</label>
            <lowerThreshold>1001.0</lowerThreshold>
        </level>
        <level>
            <label>Expert</label>
            <lowerThreshold>1301.0</lowerThreshold>
        </level>
        <level>
            <label>Expert</label>
            <lowerThreshold>1601.0</lowerThreshold>
        </level>
        <level>
            <label>Expert</label>
            <lowerThreshold>2001.0</lowerThreshold>
        </level>
        <level>
            <label>Expert</label>
            <lowerThreshold>2351.0</lowerThreshold>
        </level>
        <level>
            <label>Master</label>
            <lowerThreshold>2701.0</lowerThreshold>
        </level>
        <level>
            <label>Master</label>
            <lowerThreshold>3001.0</lowerThreshold>
        </level>
        <level>
            <label>Master</label>
            <lowerThreshold>3351.0</lowerThreshold>
        </level>
        <level>
            <label>Castrol Professional</label>
            <lowerThreshold>3701.0</lowerThreshold>
        </level>
        <level>
            <label>Castrol Professional</label>
            <lowerThreshold>4001.0</lowerThreshold>
        </level>
        <level>
            <label>Castrol Professional</label>
            <lowerThreshold>4501.0</lowerThreshold>
        </level>
        <level>
            <label>Castrol Professional</label>
            <lowerThreshold>5001.0</lowerThreshold>
        </level>
        <level>
            <label>Castrol Professional</label>
            <lowerThreshold>5501.0</lowerThreshold>
        </level>
        <level>
            <label>Veteran</label>
            <lowerThreshold>6001.0</lowerThreshold>
        </level>
    </reputationLevels>
    <reputationPointsRules>
        <pointsRule>
            <eventType>EndorseSomeoneForKnowledgeOnATopic</eventType>
            <points>5</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemAnswerAQuestion</eventType>
            <points>15</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemShareAPost</eventType>
            <points>20</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemReceiveAMention</eventType>
            <points>5</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemYourAnswerMarkedBest</eventType>
            <points>20</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemReceiveAnAnswer</eventType>
            <points>15</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemWriteAComment</eventType>
            <points>1500</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemMarkAnswerAsBest</eventType>
            <points>5</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemPostQuestion</eventType>
            <points>20</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemReceiveAComment</eventType>
            <points>1500</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemWriteAPost</eventType>
            <points>2000</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemReceiveALike</eventType>
            <points>1000</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemSomeoneSharesYourPost</eventType>
            <points>5</points>
        </pointsRule>
        <pointsRule>
            <eventType>EndorsedForKnowledgeOnATopic</eventType>
            <points>20</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemLikeSomething</eventType>
            <points>1000</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemMentionSomeone</eventType>
            <points>1</points>
        </pointsRule>
    </reputationPointsRules>
    <selfRegistration>false</selfRegistration>
    <sendWelcomeEmail>false</sendWelcomeEmail>
    <site>CAPL_Castrol_Custom_Community</site>
    <status>Live</status>
    <tabs>
        <defaultTab>home</defaultTab>
        <standardTab>Chatter</standardTab>
    </tabs>
    <urlPathPrefix>capl</urlPathPrefix>
    <welcomeTemplate>unfiled$public/CommunityWelcomeEmailTemplate</welcomeTemplate>
</Network>
